.mat-form-field {
    margin: 10px 15px 0px 10px
}

.spinner{
    margin: 0 auto;
}

.button 
{
    // margin-left: 250px;
    margin: 20px 15px 0px 10px;
}

.chartjs-container{
    height: 300px;
    // width: 1300px
}